# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common environment tools for data scientists
- Some basic calculation in python
- Some markdown cells in jupyter notebook

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. pytorch

|Data Science Tools|
-
|vs code|
|jupyter notebook|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
print(f'200 min in hours is: {200 / 60} hours')
# This will convert 200 minutes to hours by diving by 60

200 min in hours is: 3.3333333333333335 hours

## Author: 
Tony Li